.u-section-1 {
  background-image: none;
  min-height: 869px;
}

.u-section-1 .u-text-1 {
  font-family: Akronim;
  font-size: 18.75rem;
  text-shadow: 7px 8px 0px rgba(233,242,250,1);
  animation-duration: 1000ms;
  width: 631px;
  margin: -9px auto 0;
}

.u-section-1 .u-slider-1 {
  min-height: 204px;
  margin-top: -27px;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 0 -16px 0 38px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 0 -50px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 0 -50px;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 0;
}

.u-section-1 .u-icon-1 {
  height: 208px;
  width: 208px;
  background-image: none;
  margin: -330px auto 0 224px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -163px 224px 0 444px;
}

.u-section-1 .u-text-6 {
  margin: 8px 224px 0 444px;
}

.u-section-1 .u-list-1 {
  min-height: 294px;
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  width: 1129px;
  height: auto;
  margin: 27px calc(((100% - 1140px) / 2)) 50px auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  background-image: none;
  font-weight: 700;
  font-size: 6rem;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 379px;
    margin-left: calc(((100% - 1140px) / 2) + 381px);
    margin-right: calc(((100% - 1140px) / 2) + 381px);
  }

  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -405px;
    margin-right: -9px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: -16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -216px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 124px;
    margin-left: 344px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 125px;
    margin-left: 344px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin: 183px calc(((100% - 940px) / 2)) 0 calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -283px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -7px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -13px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -66px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -638px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 14px;
    margin-left: 234px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 15px;
    margin-left: 234px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 50px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -6px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 68px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 68px;
    margin-right: 1px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -253px;
    margin-right: -4px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-right: -6px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 15px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -57px;
    margin-left: 132px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -7px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -569px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-7 {
    font-size: 3rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 561px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  margin: 34px 0 0;
}

.u-section-2 .u-tabs-1 {
  min-height: 376px;
  margin-top: 10px;
  margin-bottom: 34px;
  margin-left: 0;
}

.u-section-2 .u-tab-link-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-2 .u-tab-link-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-2 .u-tab-link-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-2 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-4 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-2 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-5 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 939px 0 0;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  width: 1080px;
  margin: 6px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0 -30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0 -30px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0 -30px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

.u-section-2 .u-btn-6 {
  padding: 0;
}

.u-section-2 .u-btn-7 {
  padding: 0;
}

.u-section-2 .u-btn-8 {
  padding: 0;
}

.u-section-2 .u-btn-9 {
  padding: 0;
}

.u-section-2 .u-btn-10 {
  padding: 0;
}

.u-section-2 .u-btn-11 {
  padding: 0;
}

.u-section-2 .u-btn-12 {
  padding: 0;
}

.u-section-2 .u-btn-13 {
  padding: 0;
}

.u-section-2 .u-btn-14 {
  padding: 0;
}

.u-section-2 .u-btn-15 {
  padding: 0;
}

.u-section-2 .u-btn-16 {
  padding: 0;
}

.u-section-2 .u-btn-17 {
  padding: 0;
}

.u-section-2 .u-btn-18 {
  padding: 0;
}

.u-section-2 .u-btn-19 {
  padding: 0;
}

.u-section-2 .u-btn-20 {
  padding: 0;
}

.u-section-2 .u-btn-21 {
  padding: 0;
}

.u-section-2 .u-btn-22 {
  padding: 0;
}

.u-section-2 .u-btn-23 {
  padding: 0;
}

.u-section-2 .u-btn-24 {
  padding: 0;
}

.u-section-2 .u-btn-25 {
  padding: 0;
}

.u-section-2 .u-btn-26 {
  padding: 0;
}

.u-section-2 .u-btn-27 {
  padding: 0;
}

.u-section-2 .u-btn-28 {
  padding: 0;
}

.u-section-2 .u-btn-29 {
  padding: 0;
}

.u-section-2 .u-btn-30 {
  padding: 0;
}

.u-section-2 .u-btn-31 {
  padding: 0;
}

.u-section-2 .u-btn-32 {
  padding: 0;
}

.u-section-2 .u-btn-33 {
  padding: 0;
}

.u-section-2 .u-btn-34 {
  padding: 0;
}

.u-section-2 .u-btn-35 {
  padding: 0;
}

.u-section-2 .u-btn-36 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-2 .u-tabs-1 {
    height: auto;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 739px;
  }

  .u-section-2 .u-line-1 {
    width: 880px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 519px;
  }

  .u-section-2 .u-line-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 379px;
  }

  .u-section-2 .u-line-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 179px;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 392px;
}

.u-section-3 .u-text-1 {
  width: 550px;
  font-weight: 700;
  font-size: 3rem;
  margin: 18px auto 0;
}

.u-section-3 .u-form-1 {
  height: 313px;
  margin: 18px 285px 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-form-1 {
    margin-left: 185px;
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-form-1 {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}